.homepage-background {
  display: flex;
  position: relative;
  width: 1139px;
  height: 336px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
 

  
  background-image: url(https://www.oum.ru/upload/iblock/cf3/cf3f1649eb6df62f997aa769c44b1c45.jpg);
  /* mix-blend-mode: normal; */
  -webkit-background-size: 100%;
  
}
.homepage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.container-map {
  display: flex;
  width: 400px;
  margin-top: 40px;
  /* position: relative; */
  /* top: 195px; */
  align-items: center;
  justify-content: center;
}
