.divUserSpecContainer {
  margin-top: 40px;
}

.titleSpec {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #2F2A3E;
}

.inputContacts {
  margin-top: 20px;
  border: 2px solid #2F2A3E;
  border-radius: 25px;
  width: 450px;
  padding-left: 10px;
  height: 50px;
  outline: none;
}

.btnAddContact {
  width: 100px;
  cursor: pointer;
  width: 127px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2F2A3E;
  padding: 3px;
  border: 2px solid #2F2A3E;
  box-sizing: border-box;
  text-align: center;
  border-radius: 25px;
  background: none;
  margin-left: 30px;
}

.divMyContactsContainer {
  margin-bottom: 30px;
}

.divContactItemContainer {
  display: flex;
  margin-bottom: 70px;
  max-width: 1139px;
  flex-wrap: wrap;
}

.divContactItem {
  // margin-right: 40px;
  // margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.divDeleteImg {
  // top: 0px;
  // left: 480px;
  background-color: #777777;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 15px;
  // padding-right: 10px;
  position: relative;
  width: 23px;
  height: 23px;
  opacity: 0.8;
}

.divDeleteImg:hover {
  opacity: 1;
  background-color: #FFFFFF;
}

.divDeleteImg:before, .divDeleteImg:after {
  position: absolute;
  bottom: 4px;
  left: 10px;
  content: ' ';
  height: 15px;
  width: 3px;
  background-color: #E57377;
}

.divDeleteImg:before {
  transform: rotate(45deg);
}

.divDeleteImg:after {
  transform: rotate(-45deg);
}

.divContactMainItem {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-content: center;
  align-items: center;
  // min-width: 100px;
  padding: 20px 10px 20px 20px;
  height: 50px;
  border: 2px solid #2F2A3E;
  box-sizing: border-box;
  border-radius: 25px;
  background: #2F2A3E;
  margin-right: 15px;
}

.errorMessage {
  color: red;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}

.selectUserSpec {
  margin-top: 20px;
}
