.divUserSpecContainer {
  margin-top: 40px;
}

.titleSpec {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #2F2A3E;
}

.inputContacts {
  margin-top: 20px;
  border: 2px solid #2F2A3E;
  border-radius: 25px;
  width: 450px;
  padding-left: 10px;
  height: 50px;
  outline: none;
}

.btnAddContact {
  width: 100px;
  cursor: pointer;
  width: 127px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2F2A3E;
  padding: 3px;
  border: 2px solid #2F2A3E;
  box-sizing: border-box;
  text-align: center;
  border-radius: 25px;
  background: none;
  margin-left: 50px;
}

.divMyContactsContainer {
  margin-bottom: 30px;
}

.divContactItemContainer {
  display: flex;
  margin-bottom: 70px;
  max-width: 1139px;
  flex-wrap: wrap;
}

.divContactItem {
  margin-right: 40px;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #3E3D3D;
}
